/* over ride browser defaults*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
}

/*apply styles to <header>*/
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*apply weight, size, and color to <h1> and make it share its space */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}
/*apply color to <a> remove the underline from hypertext */
header a {
    text-decoration: none;
    color: #fce138;
}
/* nav margins and float-this moves it to the right */
header nav {
    margin: 7px 0;
}
/* change the way the li lay themselves out */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
/* give the nav a li margins, weight, and size */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/*add sass to the footer */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
footer div {
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: #024e76;
}
/* make the spacing consistant throughout the section */
section {
    padding: 60px;
}
/* Hero Style Start */
.hero{
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
}
.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
}
.hero-form{
    padding: 20px;
    height: 370px;
    color: #024e76;
    background-color: #fce138;
    border: solid 3px #024e76;
    font-size: 14px;
    font-weight: bold;
    width: 40%;
    margin: 3.5%;
}
.hero-form h3 {
    margin: 0px;
    font-size: 24px;
}
.hero-form p {
    margin: 5px; 0 15px 0;
}
.form-input{
    font-size: 16px;
    color: #024e76;
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    width: 100%;
    margin-bottom: 15px;

}

/* format button */
.hero-form button {
    background-color: #024e76;
    color: #fce138;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    bottom: 5px;
    left: 20px;
    display: inline-block;
    width: inherit;
    height: unset;  
}

/* Hero Style End */

/* What we do styling */

.intro p {
    line-height:1.7;
    color: #39a6b2;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}


/* style the steps */
.steps {
    background: #fce138;
}
.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.step h3 {
    font-size: 46px;
    color: #024e76;
    flex: 1 30%;
}
.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.step-img {
    flex: 1 12%;
    margin-right: 20px;
    max-width: 100%;
}
.step-text {
    flex: 12;

}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
}
.step-text p {
    color:#39a6b2;
    font-size: 18px;
}

/* format the trainers */
.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex: wrap;
    justify-content: space-around;    
}
.trainer {
    margin: 20px;
    background: #024e76;
    color: #fce138;
    flex: 1;
}
.trainer img {
    width: 100%;
}
.trainer-bio{
    padding:25px;
    line-height: 1.3;
}
.trainer-bio h3 {
    font-size: 28px;
}
.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
.trainer-bio p {
    font-size: 17px;
}
/* REACH OUT STYLES START */
.contact {
    background-color: #024e76;
}
.contact h2 {
    color: #fce138;
}
.contact-info iframe {
    width: 400px;
    height: 400px;
}
.contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    border-color: white;
}
.contact-info h3 {
    color: #fce138;
    font-size: 32px;
}
.contact-info p,.contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-size: normal;
}
.contact-info a {
    color: #fce138;
}
/*Reachout style end */
/* Utility classes */
/* text alignment styles */
/* style the section and title at the same time */
.section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.primary-border{
    border-color: #fce138;
}
.secondary-border {
    border-color: #39a6b2;
}
.flex-row {
    display:flex;
}
